<div class="container-fl col-7 m-auto px-2 pt-1">
    <ul class="nav nav-tabs card-header-tabs p-0 text-center">
      <li class="nav-item" >
        <a class="nav-link" (click)="setType('income')">Icome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setType('outcome')">Outcome</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  (click)="setType('loan')">Loans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setType('investment')">Invenstments</a>
      </li>
    </ul>
  <div class="card-body">
    <table class="table-castum text-center">
      <thead>
      <tr>
        <td>Name</td>
        <td>Acount</td>
      </tr>
      </thead>
      <tbody *ngFor="let user of users | sortingType:type">
      <tr>
        <td>{{user.name.first + ' ' + user.name.last}}</td>
        <td>{{user.phone}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
