<div class="container-fl col-7 m-auto px-2 pt-1">
    <ul class="nav nav-tabs card-header-tabs p-0 text-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" >Icome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" >Outcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="true" >Loans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="true" >Invenstments</a>
      </li>
    </ul>
  <div class="card-body">
    <div class="table-headers d-flex">
      <h5 class="tex-end col-6 text-center">Name</h5>
      <h5 class="text-start col-6 text-center" >Acount</h5>
    </div>
    <table class="table text-center">
      <tbody>
      <tr>
        <td>asdsadsad</td>
        <td>Acodasdasdaunt</td>
      </tr>
      <tr>
        <td>asdsadsad</td>
        <td>Acodasdasdaunt</td>
      </tr>
      <tr>
        <td>asdsadsad</td>
        <td>Acodasdasdaunt</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
