<div class="container-fl col-7 m-auto px-2 pt-1">
    <ul class="nav nav-tabs card-header-tabs p-0 text-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="true">Icome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" >Outcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="true" >Loans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="true" >Invenstments</a>
      </li>
    </ul>
  <div class="card-body">
    <table class="table-castum text-center">
      <thead>
      <tr>
        <th>Name</th>
        <th>Acount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>asdsadsad</td>
        <td>2345345</td>
      </tr>
      <tr>
        <td>asdsadsad</td>
        <td>2523452354</td>
      </tr>
      <tr>
        <td>asdsadsad</td>
        <td>56345657</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
